<%- include("partials/header") %>
<section id="content">
    <div class="success">
        <img src="/css/images/431-4312134_transparent-success-icon-hd-png-download.png" 
        width="250px"
        height="250px"
        alt="successful">
    </div>
</section>
<%- include("partials/footer")%>